<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/stylesheets/style.css"type="text/css">
</head>

<body class="bg-gray-100 text-gray-700 font-light flex flex-col  ">
    <div class="bg-cover bg-center flex flex-col w-full items-center " >

          <div class="w-full text-black max-w-4xl sm:text-xl p-4 m-2 flex items-center  justify-between">
      <p class="font-bold" ><a href="/">Home</a></p>
      <p class="font-bold"><a href="/about">About</a> </p>
      <p class="font-bold"><a href="/contact">Contact</a></p>
   <button  class="bg-blue-500 p-2  text-white px-4 rounded-lg">
    
      <% if(req.user){%>
    <a href="/logout"> 
  LOGOUT 

</a>     

 <% } else{%>
    <a href="/users/login "> 
  
    SIGNIN

</a>     
<% }%>

</button>
    </div>